<h3 class="catName">{{catName}}</h3>
<div>
  <button mat-raised-button type='button' (click)="goBack()" class="back">Back</button>
  <button mat-raised-button type='button' *ngIf="prePage" (click)="changeCurrentPage(prePage)"  routerLink="/{{catName}}" [queryParams]={page:prePage}><span><</span></button>
  <button mat-raised-button type='button' *ngFor="let i of pages" [ngClass]="{'current-page':currentPage == i}" (click)="changeCurrentPage(i)" routerLink="/{{catName}}" [queryParams]={page:i}>{{i}}</button>
  <button mat-raised-button type='button' *ngIf="nextPage" (click)="changeCurrentPage(nextPage)" routerLink="/{{catName}}" [queryParams]={page:nextPage}><span>></span></button>
</div>
<app-items-in-category [items]="items" [pageNum]="currentPage"></app-items-in-category>
