<h3 class="catName">{{catName}}</h3>
<div>
  <button mat-raised-button type='button' class="back" (click)="goBack()">Back</button>
</div>
<!-- <ul>
  <li *ngFor="let detail of details">
    <p>{{detail}}</p>
  </li>
</ul> -->

<!-- <ul>
  <li *ngFor="let value of values">{{typeOf(value)}}</li>
</ul> -->
<!-- <ul>
  <li *ngFor="let detail of details">{{typeOf(detail)}}</li>
</ul> -->
<!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">{{detail}}</p>-->
<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
<!-- </div>
</div> -->

<!-- <div class="container" *ngIf="catName=='people'">
  <div class="row">
    <div class="col-4">
      <img src="src/assets/img/Red_star.svg.png" class="col" alt="...">
    </div>
    <div class="col-8" style="background-color:white;" *ngFor="let jsonDetail of jsonDetail">
      <p class="card-text col">details info</p>
      <p>{{jsonDetail.Key}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
  </div>
</div> -->

<!-- <div class="container" *ngIf="catName=='films'">
  <div class="row">
    <div class="col-4">
      <img src="src/assets/img/Red_star.svg.png" class="col" alt="...">
    </div>
    <div class="col-8" style="background-color:white;">
      <p class="card-text col">details info</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
  </div>
</div>

<div class="container" *ngIf="catName=='planets'">
  <div class="row">
    <div class="col-4">
      <img src="src/assets/img/Red_star.svg.png" class="col" alt="...">
    </div>
    <div class="col-8" style="background-color:white;">
      <p class="card-text col">details info</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
  </div>
</div>

<div class="container" *ngIf="catName=='species'">
  <div class="row">
    <div class="col-4">
      <img src="src/assets/img/Red_star.svg.png" class="col" alt="...">
    </div>
    <div class="col-8" style="background-color:white;">
      <p class="card-text col">details info</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
  </div>
</div>

<div class="container" *ngIf="catName=='starships'">
  <div class="row">
    <div class="col-4">
      <img src="src/assets/img/Red_star.svg.png" class="col" alt="...">
    </div>
    <div class="col-8" style="background-color:white;">
      <p class="card-text col">details info</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
  </div>
</div>

<div class="container" *ngIf="catName=='vehicles'">
  <div class="row">
    <div class="col-4">
      <img src="src/assets/img/Red_star.svg.png" class="col" alt="...">
    </div>
    <div class="col-8" style="background-color:white;">
      <p class="card-text col">details info</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
  </div>
</div> -->

<div class="container">
  <div class="container-body" style="color:#ffffff;display: inline;">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-5">
          <div class="card" style="margin-top: 20px;width: 100%;">
            <img *ngIf="catName!='people'" class="card-img-top" src="https://starwars-visualguide.com/assets/img/{{catName}}/{{picnum}}.jpg" alt="Card image cap"
              style="width: 60%; margin: auto">
              <img  *ngIf="catName=='people'" class="card-img-top" src="https://starwars-visualguide.com/assets/img/characters/{{picnum}}.jpg" alt="Card image cap"
              style="width: 60%; margin: auto">
            <div class="card-body" style="width: 100%">
              <div class="row" style="margin:0 0%">
                <table style="color: black; text-align:justify ;width:100%">
                  <tr>
                    <th colspan="2">{{name}}</th>
                  </tr>
                  <tr *ngFor=" let k of details">
                    <td>{{k}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7" style="margin-top: 20px;color:black">
          <div  *ngIf="catName!='films'" class="panel panel-default">
            <div class="panel-heading">Relatived Films</div>
            <div class="panel-body RelatedInfo" style=" text-align: left;" >
              <div style="width: 100%; column-count: 2; column-gap: 3px;">
                <div *ngFor="let Flink of filmlinks">
                  <a href="/{{Flink.filmurl}}" >
                    <i class="fa fa-arrow-right" style="float: left;"></i>
                  </a>{{Flink.filmname}}</div>
              </div>
            </div>
          </div>
          <div *ngIf="catName =='people' || catName =='films'" class="panel panel-default">
            <div class="panel-heading">Related Starships</div>
            <div class="panel-body RelatedInfo">
              <div style="width: 100%; column-count: 2; column-gap: 3px;">
                <div *ngFor="let Slink of starshiplinks" >
                  <a href="/{{Slink.startshipurl}}">
                    <i class="fa fa-arrow-right" style="float: left;"></i>
                  </a>{{Slink.startship}}
                </div>
               
              </div>
            </div>
          </div>
          <div  *ngIf="catName!='people'" class="panel panel-default" >
              <div class="panel-heading">Related Characters</div>
              <div class="panel-body RelatedInfo">
                <div style="width: 100%; column-count: 2; column-gap: 3px;">
                  <div *ngFor="let Plink of peoplelinks" >
                    <a href="/{{Plink.peopleurl}}">
                      <i class="fa fa-arrow-right" style="float: left;"></i>
                    </a>{{Plink.peoplename}}
                  </div>
                 
                </div>
              </div>
            </div>
            <div  *ngIf="catName =='people' || catName =='films'" class="panel panel-default">
                <div class="panel-heading">Related Vehicles</div>
                <div class="panel-body RelatedInfo">
                  <div style="width: 100%; column-count: 2; column-gap: 3px;">
                    <div *ngFor="let Vlink of vehiclelinks" >
                      <a href="/{{Vlink.vehiclesurl}}">
                        <i class="fa fa-arrow-right" style="float: left;"></i>
                      </a>{{Vlink.vehiclesname}}
                    </div>
                   
                  </div>
                </div>
              </div>
              <div  *ngIf="catName=='films'" class="panel panel-default"  >
                  <div class="panel-heading">Related Planets</div>
                  <div class="panel-body RelatedInfo">
                    <div style="width: 100%; column-count: 2; column-gap: 3px;">
                      <div *ngFor="let Planetlink of planetlinks" >
                        <a href="/{{Planetlink.planeturl}}">
                          <i class="fa fa-arrow-right" style="float: left;"></i>
                        </a>{{Planetlink.planetname}}
                      </div>
                     
                    </div>
                  </div>
                </div>
                <div *ngIf="catName=='films'" class="panel panel-default"  >
                    <div class="panel-heading">Related Species</div>
                    <div class="panel-body RelatedInfo">
                      <div style="width: 100%; column-count: 2; column-gap: 3px;">
                        <div *ngFor="let Splink of specieslinks" >
                          <a href="/{{Splink.speciesurl}}">
                            <i class="fa fa-arrow-right" style="float: left;"></i>
                          </a>{{Splink.speciesname}}
                        </div>
                       
                      </div>
                    </div>
                  </div>
          <div class="panel panel-default"  >
            <div class="panel-heading" >Comments</div>
            <div class="panel-body RelatedInfo">
              <div class="col-lg-12">
                <textarea class="form-control" style="width: 100%" #userinput></textarea>
                <div>
                  <input type="button" class="btn btn-primary" value="Sumit" style="text-align: center;margin: 10px 0px 10px 0px"
                    (click)="addComments(userinput.value)">
                </div>
                <div style="height:100px ;overflow: scroll;">
                  <div *ngFor="let c of comments">
                    <p>{{c}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-body" style="color:#ffffff;margin-top: 150px">
      <p>Welcome to Angular CA || Created by WangLu | ZhaoTongTong | LuoChao</p>
    </div>
  </div>