<h3 class="catName">{{catName}}</h3>
<div>
  <button mat-raised-button type='button' class="back" (click)="goBack()">Back</button>
</div>
<!-- <ul>
  <li *ngFor="let detail of details">
    <p>{{detail}}</p>
  </li>
</ul> -->

<!-- <ul>
  <li *ngFor="let value of values">{{typeOf(value)}}</li>
</ul> -->
<!-- <ul>
  <li *ngFor="let detail of details">{{typeOf(detail)}}</li>
</ul> -->
<!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">{{detail}}</p>-->
<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
<!-- </div>
</div> -->

<div class="container" *ngIf="catName=='people'">
  <div class="row">
    <div class="col-4">
      <img src="src/assets/img/Red_star.svg.png" class="col" alt="...">
    </div>
    <div class="col-8" style="background-color:white;" *ngFor="let jsonDetail of jsonDetail">
      <p class="card-text col">details info</p>
      <p>{{jsonDetail.Key}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
  </div>
</div>

<div class="container" *ngIf="catName=='films'">
  <div class="row">
    <div class="col-4">
      <img src="src/assets/img/Red_star.svg.png" class="col" alt="...">
    </div>
    <div class="col-8" style="background-color:white;">
      <p class="card-text col">details info</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
  </div>
</div>

<div class="container" *ngIf="catName=='planets'">
  <div class="row">
    <div class="col-4">
      <img src="src/assets/img/Red_star.svg.png" class="col" alt="...">
    </div>
    <div class="col-8" style="background-color:white;">
      <p class="card-text col">details info</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
  </div>
</div>

<div class="container" *ngIf="catName=='species'">
  <div class="row">
    <div class="col-4">
      <img src="src/assets/img/Red_star.svg.png" class="col" alt="...">
    </div>
    <div class="col-8" style="background-color:white;">
      <p class="card-text col">details info</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
  </div>
</div>

<div class="container" *ngIf="catName=='starships'">
  <div class="row">
    <div class="col-4">
      <img src="src/assets/img/Red_star.svg.png" class="col" alt="...">
    </div>
    <div class="col-8" style="background-color:white;">
      <p class="card-text col">details info</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
  </div>
</div>

<div class="container" *ngIf="catName=='vehicles'">
  <div class="row">
    <div class="col-4">
      <img src="src/assets/img/Red_star.svg.png" class="col" alt="...">
    </div>
    <div class="col-8" style="background-color:white;">
      <p class="card-text col">details info</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
  </div>
</div>